<form action="/posts" method="post">
  <label for="name">Title: </label>
  <input id="name" name="name" type="text">
  <p><textarea id="content" name="content"></textarea></p>
  <input type="submit" id="submit">
</form>