<h1><%=@post.name%></h1>
<p><%=@post.content%></p>
<a href="/posts/<%=@post.id%>/edit"><button>Edit Post</button></a>
<form method="post" action="/posts/<%=@post.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete"></br>
  <input type="submit" value="delete">
</form>